.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.nav-item {
    text-align: center;
    position: relative;
}

.navbar-container {
    display: flex;
    background-color: #333;
    flex-direction: row;
    color: #ffffff;
    padding: 20px;
    font-size: 16px;
    width: 100%;
    height: 50px;
    align-items: center;
}

.nav-item a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    display: inline-block;
    padding: 10px;
}

.nav-item:hover a {
    background-color: #bdbbbb;
    border-radius: 5%;
}

.nav-item:hover .dropdown a {
    background-color: white;
    text-align: left;
    margin-left: 5px;
    color: black;
}

.dropdown {
    display: none;
    background-color: white;
    position: absolute;
    width: 200px;
    text-align: left;
}

.nav-item:hover .dropdown {
    display: block;
    margin-top: 10px;
}